.container-fluid {
    background-image: url('http://static.showit.co/1200/lUngeiLrRJCJ76gPPrH_Jw/56885/michelle_lindsay_photography_washington_dc_maternity_and_newborn_photographer_0001.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.aw {
    padding: 20%;
    color: white;
}


/* 
.nav {
    position: fixed;
} */

.we {
    padding-top: 15px;
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
}

.be {
    font-size: 45px;
    font-family: 'Open Sans Condensed', sans-serif;
}