.aw {
    padding: 20%;
    color: white;
}


/* 
.nav {
    position: fixed;
} */

.we {
    padding-top: 15px;
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
}

.be {
    font-size: 45px;
    font-family: 'Open Sans Condensed', sans-serif;
}

li {
    list-style-type: none;
}

.reg {
    padding-top: 30px;
}

.up {
    padding-top: 20px;
}

.log {
    padding-top: 30px;
    padding-bottom: 100px;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.box-info {
    color: white;
    text-align: center;
    padding: 20%;
}

#hae {
    text-align: center;
}


/* .des,
.des1,
.des2,
.des3 {
    color: white;
    border-radius: 50%;
    height: 78px;
    width: 78px;
    padding-top: 30%;
    font-size: 17px;
}

.des {
    border: 3px solid orange;
}

.des1 {
    border: 3px solid brown;
}

.des2 {
    border: 3px solid blue;
}

.des3 {
    border: 3px solid green;
} */